body{
    font-family: 'Roboto', sans-serif;
    margin-top: 4%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
section{
    height: 680px;
}
.half{
    float: left;
    width: 40%;
    margin: 2%;
    padding: 2%;
    
}
.header-name{
    color: rgb(153, 16, 153);
}
.half a{
    text-decoration: none;
    background-color: deeppink;
    padding: 3%;
    color: white;
    width: 10px;
    margin-top: 3%;
}
.half img{
    width: 100%;
    margin-bottom: 10%;
    margin-top: -20%;
}
.top-ban{
    background-image: url(/img/header-bg.png);
    background-repeat: no-repeat;
}
#bio{
padding: 10% 20%;
}
#b{
    text-decoration: none;
    background-color: deeppink;
    padding: 2%;
    color: white;
    margin-top: 30%; 
}
h3{
    font-size: 30px;
}
.w{
    width: 33.33%;
    float: left;   

}
.w img{
    width: 100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.e{
    text-align: center;
    margin-top: -20%;
    position: relative;
}
#s{
    background-color: rgb(153, 16, 153);
    position: absolute;
    width: 50%;
    height: 10px;
    background-position: center;
    margin-left: 25%;
    text-align: center;
    padding: 4%;
}
footer{
    text-align: center;
    margin-top: -10%;
}